@font-face {
    font-family: 'Helvetica-bold';
    src: url('../fonts/HelveticaLTStd-BlkCond.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaLTStd-BlkCond.woff') format('woff'), url('../fonts/HelveticaLTStd-BlkCond.woff2') format('woff2'), url('../fonts/HelveticaLTStd-BlkCond.ttf') format('truetype'), url('../fonts/HelveticaLTStd-BlkCond.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-bold';
    src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'), url('../fonts/NexaBold.woff') format('woff'), url('../fonts/NexaBold.ttf') format('truetype'), url('../fonts/nexa-bold-webfont.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-light';
    src: url('../fonts/nexa-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa-light-webfont.woff') format('woff'), url('../fonts/nexa-light-webfont.ttf') format('truetype'), url('../fonts/nexa-light-webfont.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}