.section-top {}

.banner-dark-stripe {
    height: 100%;
    width: 33%;
    background: black;
    min-height: 1080px;
}

.banner-container {
    display: flex
}

.banner-img {
    background: url(/img/main-banner.jpg) no-repeat;
    min-height: 1080px;
    background-position: right;
    width: 67%;
    background-size: cover;
}

.banner-texts {
    position: absolute;
    top: 330px;
    left: 13%;
    h1 {
        font-size: 100px;
        font-family: "Helvetica-bold";
        color: rgb(255, 255, 255);
        line-height: 1.337;
        text-shadow: 0px 5px 4.5px rgba(0, 0, 0, 0.75);
        text-transform: uppercase;
    }
    span {
        color: #fcb126
    }
    h3 {
        color: #c7c7c7;
        font-size: 36px;
        font-family: "nexa-bold";
        padding-bottom: 55px;
        padding-top: 43px;
    }
}

.about-section {
    background: url(/img/bg2.png) no-repeat;
    min-height: 400px;
    h2 {
        font-size: 30px;
        font-family: "nexa-bold";
        color: rgb(252, 177, 38);
        line-height: 1;
        text-align: right;
    }
    p {
        font-size: 20px;
        color : #f0f0f0;
        font-family: "nexa-bold";
        line-height: 31px; 
        padding-top: 31px;
    }
}

.about-inner {
    display: flex;    padding-top: 70px;
}
.about-texts{
    max-width: 674px;
    text-align: right;
    margin-left: auto;
    padding-top: 30px;
}

.services-inner {
    display: flex;
    > div {
        width: 382px;
        height: 382px;
    }
    > div:nth-child(1n){
        background: url("/img/activity1.png");
    }
    > div:nth-child(2n){
        background: url("/img/activity2.png");
    }
    > div:nth-child(3n){
        background: url("/img/activity3.png");
    }
    > div:nth-child(4n){
        background: url("/img/activity4.png");
    }
    > div:nth-child(5n){
        background: url("/img/activity5.png");
    }
}